body {
    background-color: #eee;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* justify-items: end; */
    width: 1200px;
}

.overlay {
   background-image: url(img/happiest-dog.webp);
   border-radius: 10px;
   height: 600px;
   grid-column: 1/5;
   display: flex;
   align-items: end;
}

.under{
    color: white;
    margin: 20px;
}

.menu1 {
    grid-column: 1/3;
    display: flex;
}
.menu2 {
    /* border: solid thin aqua; */
    grid-column: 3/5;
    display: flex;
    justify-content: end;
}

.menu2 p {
    margin: 20px;
}

.groom-box {
    margin-top: 20px;
}

.groomin {
    background-color: white;
    
}



#groomin{
    display: block;
    border-radius: 10px;
    width: 100%;
}

.groom-box {
    display: flex;
    grid-column: 1/4;
}